.body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
 }
 
 
 .box {
    display: flex;
    justify-content: center;
 }
 
 
 .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  padding-right: 20px;
  background: gray;
  margin-right: 80px;

}

.title{
    background:gray;
    padding-left: 64px;
    padding-bottom:16px;
    }
   
   
   .whole {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      padding-right: 20px;
   }
   
   
   .right {
      border: 1px;
      background: darkgray;
      width: 400px;
      height: 150px;
      margin-right: 80px;
      margin-bottom: 50px;
   }
   
   
   .header2 {
      display:flex;
      justify-content: center;
   
   
   }
   